body{
    margin: 0;
    background-color: rgb(205, 250, 205);
}

#score, #bestScore{
    display: none;
    position: absolute;
    top: 40px;
    left: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

#bestScore{
    top: 65px;
}

.hidden, #rules{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 6rem;
    text-align: center;
    width: 80%;
    background-color: rgb(183, 242, 183);
    border-radius: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#rules{
    font-size: 2rem;
    display: block;
}

#lose{
    display: none;
}

button{
    background-color: rgb(1, 235, 1);
    border: 1px solid rgb(1, 235, 1);
    border-radius: 2rem;
    padding: 1rem;
    color: white;
    width: 20%;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}