body{
    margin: 0;
}

#score{
    position: absolute;
    top: 40px;
    left: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.hidden, #rules{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 6rem;
    text-align: center;
    width: 80%;
}

#rules{
    font-size: 2rem;
    display: block;
}

#lose{
    display: none;
}

button{
    background-color: rgb(1, 235, 1);
    border: 1px solid rgb(1, 235, 1);
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    color: white;
    width: 30%;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}